.primeiraTela{
  position: relative;
width: 1440px;
height: 1024px;
background: #FFFFFF;
}

.reg{
  position: absolute;
  width: 475px;
  height: 1024px;
  left: 0px;
  top: 0px;
  background: #FBF8F4;
}

.coluna{
display: flex;
align-items: center;
justify-content: center;
position: absolute;
width: 390px;
height: 638px;
left: 56px;
top: 64px;

}

.registrar{
display: flex;
align-items: center;
position: absolute;
width: 290px;
height: 78px;
left: 106px;
top: 64px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 78px;
color: #4B626C;
}

.nomeUsuario{
  /* Caixa Nome */

position: absolute;
width: 390px;
height: 50px;
left: 56px;
top: 204px;

/* Rectangle 3 */

position: absolute;
width: 390px;
height: 50px;
left: 446px;
top: 204px;

background: #EFEFEF;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
border-radius: 5px;
/*transform: matrix(-1, 0, 0, 1, 0, 0);/*


/* Nome de Usuário */

position: absolute;
width: 209px;
height: 29px;
left: 69px;
top: 215px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 29px;

color: #97A4A2;
}

.email{
  /* Caixa Email */

position: absolute;
width: 390px;
height: 50px;
left: 56px;
top: 316px;

/* Rectangle 3 */

position: absolute;
width: 390px;
height: 50px;
left: 446px;
top: 316px;

background: #EFEFEF;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
border-radius: 5px;
/*transform: matrix(-1, 0, 0, 1, 0, 0);*/

/* E-mail */

position: absolute;
width: 209px;
height: 29px;
left: 69px;
top: 327px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 29px;

color: #97A4A2;


}

.cpf{
  /* Caixa CPF */
position: absolute;
width: 390px;
height: 50px;
left: 56px;
top: 428px;

/* Rectangle 3 */

position: absolute;
width: 390px;
height: 50px;
left: 446px;
top: 428px;

background: #EFEFEF;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
border-radius: 5px;
/*transform: matrix(-1, 0, 0, 1, 0, 0);*/

/* CPF */

position: absolute;
width: 209px;
height: 29px;
left: 69px;
top: 439px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 29px;

color: #97A4A2;
}

.senha{
  /* Caixa senha */

position: absolute;
width: 390px;
height: 50px;
left: 56px;
top: 540px;

/* Rectangle 3 */

position: absolute;
width: 390px;
height: 50px;
left: 446px;
top: 540px;

background: #EFEFEF;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
border-radius: 5px;
/*transform: matrix(-1, 0, 0, 1, 0, 0);*/

/* Senha */

position: absolute;
width: 209px;
height: 29px;
left: 69px;
top: 551px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 29px;

color: #97A4A2;

}

.confrimarSenha{
  /* Caixa confirmar senha */

position: absolute;
width: 390px;
height: 50px;
left: 56px;
top: 652px;

/* Rectangle 3 */

position: absolute;
width: 390px;
height: 50px;
left: 446px;
top: 652px;

background: #EFEFEF;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
border-radius: 5px;
/*transform: matrix(-1, 0, 0, 1, 0, 0);*/

/* Confirmar Senha */

position: absolute;
width: 209px;
height: 29px;
left: 69px;
top: 663px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 29px;

color: #97A4A2;
}

.seta{

background: url(..imagens/seta.png);
box-sizing: border-box;

position: absolute;
width: 80px;
height: 0px;
left: 406px;
top: 754px;

border: 4px solid #4B626C;

}

.imagem{
  position: absolute;
width: 1024px;
height: 1024px;
left: 475px;
top: 0px;
background-size: cover;
  background: url(./imagens/imagem1.png);
  
}

.button-login{
  position: absolute;
width: 155px;
height: 31px;
left: 56px;
top: 949px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;

color: #97A4A2;
}

/*login*/


.segundaTela{
position: relative;
width: 1440px;
height: 1024px;

background: #FFFFFF;
}

.imagem2{
position: absolute;
width: 1024px;
height: 1024px;
left: 475px;
top: 0px;
background: url(imagens/imagem1.png);
}


.reg2{
position: absolute;
width: 475px;
height: 1024px;
left: 0px;
top: 0px;

background: #FBF8F4;
}


.seta2{

box-sizing: border-box;

position: absolute;
width: 40px;
height: 0px;
left: 392px;
top: 421px;

border: 4px solid #4B626C;
}


.criarConta{
position: absolute;
width: 260px;
height: 76px;
left: 56px;
top: 850px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 35px;
/* or 146% */

color: #97A4A2;
}

.esqueceuSenha{
position: absolute;
width: 260px;
height: 76px;
left: 56px;
top: 904px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 35px;
/* or 146% */

color: #97A4A2;
}

.coluna2{
position: absolute;
width: 390px;
height: 302px;
left: 42px;
top: 64px;
}

.email2{
position: absolute;
width: 390px;
height: 50px;
left: 42px;
top: 204px;

/* Rectangle 3 */

position: absolute;
width: 390px;
height: 50px;
left: 432px;
top: 204px;

background: #EFEFEF;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
border-radius: 5px;
transform: matrix(-1, 0, 0, 1, 0, 0);

/* E-mail */

position: absolute;
width: 280px;
height: 29px;
left: 55px;
top: 215px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 29px;

color: #97A4A2;
}

.senha2{

position: absolute;
width: 390px;
height: 50px;
left: 42px;
top: 316px;

/* Rectangle 3 */

position: absolute;
width: 390px;
height: 50px;
left: 432px;
top: 316px;

background: #EFEFEF;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
border-radius: 5px;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Senha */

position: absolute;
width: 280px;
height: 29px;
left: 55px;
top: 327px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 29px;

color: #97A4A2;
}

.login{

position: absolute;
width: 182px;
height: 78px;
left: 146px;
top: 64px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 78px;
/* identical to box height */

color: #4B626C;
}



/*Recuperar conta*/


.seta3{
box-sizing: border-box;

position: absolute;
width: 40px;
height: 0px;
left: 392px;
top: 379px;

border: 4px solid #4B626C;
}


.criarConta2{
position: absolute;
width: 260px;
height: 76px;
left: 56px;
top: 850px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 35px;
/* or 146% */

color: #97A4A2;
}

.fazerLogin{
  position: absolute;
  width: 260px;
  height: 76px;
  left: 56px;
  top: 904px;
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  /* or 146% */
  
  color: #97A4A2;
  }


.coluna3{
position: absolute;
width: 390px;
height: 261px;
left: 42px;
top: 64px;
}

.email3{
position: absolute;
width: 390px;
height: 50px;
left: 42px;
top: 275px;



/* Rectangle 3 */

position: absolute;
width: 390px;
height: 50px;
left: 432px;
top: 275px;

background: #EFEFEF;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
border-radius: 5px;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* E-mail */

position: absolute;
width: 280px;
height: 29px;
left: 56px;
top: 285px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 29px;

color: #97A4A2;
}

.recuperar{
position: absolute;
width: 333px;
height: 156px;
left: 71px;
top: 64px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 78px;
text-align: center;

color: #4B626C;
}



/* Nav bar */

.BarraNavegação{
position: absolute;
width: 1440px;
height: 101.89px;
left: 0px;
top: 1px;
}


.retangulo1{
position: absolute;
width: 1440px;
height: 100px;
left: 0px;
top: 2px;

background: #FBF6F0;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.imgNavbar{
position: absolute;
width: 100px;
height: 100px;
left: 40px;
top: 1px;

background: url(.imagens/imagem2.png);
}

.lançamentos{
position: absolute;
width: 218px;
height: 39px;
left: 171px;
top: 32px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 32px;
line-height: 39px;
/* identical to box height */

color: #4B626C;
}


.populares{

position: absolute;
width: 159px;
height: 39px;
left: 451px;
top: 34px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 32px;
line-height: 39px;
/* identical to box height */

color: #4B626C;
}


.generos{

position: absolute;
width: 132px;
height: 39px;
left: 672px;
top: 34px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 32px;
line-height: 39px;
/* identical to box height */

color: #4B626C;
}

.promoçoes{

position: absolute;
width: 180px;
height: 39px;
left: 866px;
top: 34px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 32px;
line-height: 39px;
/* identical to box height */

color: #4B626C;
}


.Conta{

position: absolute;
width: 95px;
height: 39px;
left: 1108px;
top: 34px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 32px;
line-height: 39px;
/* identical to box height */

color: #4B626C;
}

.search{
position: absolute;
width: 165px;
height: 68.89px;
left: 1234px;
top: 34px;
}

.BarraPesquisa{
position: absolute;
width: 165px;
height: 40px;
left: 1234px;
top: 34px;

background: rgba(151, 164, 162, 0.45);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
}

.traço1{
position: absolute;
width: 40px;
height: 0px;
left: 420px;
top: 73px;

border: 1px solid #4B626C;
transform: rotate(-90deg);
}

.traço1{
position: absolute;
width: 40px;
height: 0px;
left: 641px;
top: 73px;

border: 1px solid #4B626C;
transform: rotate(-90deg);
}

.traço3{
position: absolute;
width: 40px;
height: 0px;
left: 835px;
top: 73px;

border: 1px solid #4B626C;
transform: rotate(-90deg);
}

.traço4{
position: absolute;
width: 40px;
height: 0px;
left: 1077px;
top: 73px;

border: 1px solid #4B626C;
transform: rotate(-90deg);
}


/*footer*/

.retFooter{
position: absolute;
width: 1440px;
height: 393px;
left: 0px;
top: 1291px;

background: #97A4A2;
}

.imgFooter{
position: absolute;
width: 164px;
height: 164px;
left: 21px;
top: 1390px;

background: url(./imagens/imagem2.png);
border-radius: 5px;
background-size: cover;
}


.tituloFooter{
position: absolute;
width: 235px;
height: 44px;
left: 232px;
top: 1411px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;
/* identical to box height */

color: #FBF8F3;
}

.seuprox{
position: absolute;
width: 329px;
height: 77px;
left: 185px;
top: 1455px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 32px;
line-height: 39px;
text-align: center;

color: #FFFFFF;
}

.explore{
position: absolute;
width: 151px;
height: 44px;
left: 644px;
top: 1374px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 44px;
/* identical to box height */
text-align: center;

color: #FFFFFF;
}

.contato{
position: absolute;
width: 147px;
height: 44px;
left: 1022px;
top: 1376px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 44px;
/* identical to box height */
text-align: center;

color: #FFFFFF;
}

.inicio{
position: absolute;
width: 87px;
height: 39px;
left: 676px;
top: 1430px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */
text-align: center;

color: #FFFFFF;
}

.emailgame{
position: absolute;
width: 355px;
height: 29px;
left: 1054px;
top: 1428px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;

color: #FFFFFF;
}

.pops{
position: absolute;
width: 161px;
height: 39px;
left: 639px;
top: 1480px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */
text-align: center;

color: #FFFFFF;
}

.conta{
position: absolute;
width: 96px;
height: 39px;
left: 672px;
top: 1530px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */
text-align: center;

color: #FFFFFF;
}

.simbemail{
position: absolute;
width: 24px;
height: 24px;
left: 1022px;
top: 1433px;

background: url(.png);
}

.localidade{
position: absolute;
width: 24px;
height: 24px;
left: 1022px;
top: 1527px;

background: url(.png);
}

.phone{
position: absolute;
width: 24px;
height: 24px;
left: 1022px;
top: 1480px;

background: url(.png);
}


.numphone{
position: absolute;
width: 204px;
height: 24px;
left: 1054px;
top: 1476px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;

color: #FFFFFF;
}

.local{
position: absolute;
width: 355px;
height: 24px;
left: 1054px;
top: 1526px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;

color: #FFFFFF;
}

.msngfooter{
position: absolute;
width: 462px;
height: 41px;
left: 489px;
top: 1630px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;

color: #4B626C;
}

























