.tela-administrador {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.rec {
    display: flex;
    flex-direction: column;
    width: 33.3%;
    height: 100%;
    justify-content: space-between;
}

#rec2 {
    font-size: 2rem;
    background: #4B626C;
}

#rec1 {
    font-size: 2rem;
    background: #FFFFFF;
}

.titlerec {
    display: flex;
    justify-content: center;
    color: #4B626C;
}

.titlerec2 {
    display: flex;
    justify-content: center;
    color: white;
}
.inserir{
    width: 65%;
    height: 7%;
    margin-left: 20%;
    border-radius:1rem;
    font-size: 1.4rem;
}

.descriçao{
    width: 65%;
    height: 20%;
    display: flex;
    justify-content: center;
    margin-left: 20%;
    border-radius:1rem;
    font-size: 1.4rem;
}

.inserir-imagem{
    width: 45%;
    height: 7%;
    display: flex;
    justify-content: center;
    margin-left: 30%;
    border-radius:1rem;
    font-size: 1.4rem;
}

.cadastrar-se{
    width: 65%;
    height: 7%;
    margin-left: 20%;
    border-radius:1rem;
    font-size: 1.4rem;
    margin-bottom: 5%;
    background: #FBF6F0;
    color: #4B626C;
}
.inserir5{
    width: 65%;
    height: 7%;
    margin-left: 20%;
    background-color: #4B626C;
    color: white;
    border-radius:1rem;
    font-size: 1.4rem;
    margin-bottom: 7%;
    display: flex;
}

.cadastrar-se2{
    width: 65%;
    height: 7%;
    margin-left: 20%;
    background-color: #4B626C;
    color: #FFFFFF;
    border-radius: 1rem;
    font-size: 1.4rem;
    margin-bottom: 85%;
}
/*
@media (max-width:1500px) {
    html {
        font-size: 80%;
    }
    .tela-administrador{
        height: 80vh;
    }
}
@media (max-width:1000px) {
    html {
        font-size: 70%;
    }
    .tela-administrador{
        height: 60vh;
    }
}

@media (max-width:768px) {
    html {
        font-size: 50%;
    }
    .tela-administrador{
        height: 45vh;
    }
}*/

@media (max-width:400px) {
    html {
        font-size: 50%;
    }
    .tela-administrador{
        flex-direction: column;
        height: 140vh;
    }
    .rec{
        width: 100%;
        height: 40%;
    }
    .rec:nth-child(2){
        height: 20%;
    }
    .inserir,
    .descriçao,
    .cadastrar-se,
    .cadastrar-se2,
    .inserir5{
        width: 90%;
        margin-left: 5%;
        height: 8%;
    }
    .descriçao{
        height: 18%;
    }
    .cadastrar-se2,
    .inserir5{
        height: 40%;
    }
}