.BarraNavegação{
  width: 100vw;
  background: #FBF6F0;
}

#retangulo-barra{
  height: 15vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #4B626C;
  justify-content: space-around;
}

.palavras{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
}

.imgNavbar{
  height: 100%;
  width: auto;
}

.imgNavbar img{
  height: 100%;
  width: 100%;
}
.menut{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.menut a{
  list-style-type: none;
  padding-right: 15%;
  margin: 2.5rem;
  font-size: 3rem;
  color:black;
  text-decoration: none;
  font-family: 'Montsserrat';
  font-weight: 50;
  border-right: 0.2rem solid black;

}

.menut a:nth-child(5){
  border-right: 0rem;
}

.pesquisar-menu{
  height:35%;
  width: 11%;
}
.pesquisar-menus{
  height:100%;
  width: 100%;
  background: rgba(151, 164, 162, 0.45);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin-top: 18%;
}
#rectangle43{
  display: none;
}
#botao-y{
  display: none;
}
#botao-x{
  display: none;
}
@media (max-width:1900px) {
  .menut a{
    font-size: 2.5rem;
    margin: 2rem;
  }
}

@media (max-width:1600px) {
  .menut a{
    font-size: 2rem;
    margin: 1.5rem;
  }
  .pesquisar-menu{
    height: 30%;
  }
}

@media (max-width:1200px) {
  .menut a{
    font-size: 1.8rem;
    margin: 1.3rem;
  }
}

@media (max-width:1000px) {
  .menut a{
    font-size: 1.5rem;
    margin: 1rem;
  }
  .pesquisar-menu{
    height: 25%;
  }
}

@media (max-width:800px) {
  .menut a{
    font-size: 1rem;
    margin: 0.8rem;
  }
  .pesquisar-menu{
    height: 25%;
  }
}

@media (max-width:415px) {
  #retangulo-barra{
    display: flex;
    height: 10vh;
  }
  #retangulo-barra .pesquisar-menu{
    display: none;
  }
  #retangulo-barra .menut a{
    display:none;
  }
  #retangulo-barra #botao-y{
    display: none;
  }
  #retangulo-barra #botao-y img{
    background-color: #FBF6F0;
    display: none;
  }
  #retangulo-barra #botao-x{
    display: flex;
    height:70%;
    width: 15%;
    margin-left: 60%;
    margin-top: 2%;
  }
  #retangulo-barra #botao-x img{
    width: 100%;
    height: 100%;
  }

  /*rectangle43*/

#rectangle43{
  display: flex;
  z-index: 999;
  height:100%;
  width: 100%;
  flex-direction: column;
  background-color:#4B626C;
}
#rectangle43 .imgNavbar{
  display: none;
}

#rectangle43 .palavras{
  flex-direction: column;
}

#rectangle43 .menut{
  list-style-type: none;
  padding:1rem 0rem 1rem 0rem;
  text-align: center;
  border-bottom: 0.3rem solid  white ;
  width: 50%;
}

#rectangle43 .menut a{
  border-right: 0;
  font-size: 220%;
  text-align: center;
  text-decoration: none;
  color:white;
  margin: 0 auto;
}

#rectangle43 .menut:nth-child(1){
  padding-top: 4rem;
}

#rectangle43 .menut:nth-child(5){
  border-bottom: 0;
}

#rectangle43 .pesquisar-menu{
  width: 60%;
  margin-left: 20%;
  margin-bottom: 1rem;
}

#rectangle43 .pesquisar-menus{
  font-family: 'Montserrat';
  width: 100%;
  height: 3rem;
  border-radius: 15px;
  background-color: #97A4A2;
}
#rectangle43 #botao-x{
  display: none;
}
#rectangle43 #botao-y{
  margin-top: 5%;
  display: flex;
  height:20%;
  width: 15%;
  margin-left: 80%;
  top: 2px;
}
#rectangle43 #botao-y img{
  background-color: #4B626C;
  height: 100%;
  width: 100%;
}
}




