.BarraNavegação{
  width: 100vw;
  height: 15vh;
  background: #FBF6F0;
}
.em-ordem{
  width: 100%;
  height: 98%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 3rem;
}

.imgNavbar{
  height: 100%;
  width: auto;
}

.imgNavbar img{
  height: 100%;
  width: 100%;
}

.traço{
  width: 3rem;
  height: 0.1rem;

  border: 0.01rem solid #4B626C;
  transform: rotate(-90deg);
}

.pbarra{
  color: #4B626C;
}

.search{
  height:35%;
  width: 11%;
  background: rgba(151, 164, 162, 0.45);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.linha-de-separaçao{
  width: 100%;
  height: 20%;
  background-color: rgb(145, 145, 174);
}

@media (max-width:768px) {
  html{
    font-size: 45%;
  }
  .BarraNavegação{
    height: 10vh;
  }
}

@media (max-width:400px) {
  .em-ordem{
    justify-content: space-between;
  }
  .pbarra{
    display: none;
  }
  .traço{
    display: none;
  }
  .search{
    display: none;
  }
  .tres-traços{
    width: 18%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .um-traço{
    width: 90%;
    height: 10%;
    background-color:#4B626C;
  }
}




