 .sessao-branca-populares{
    height: 135vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #FBF8F4;
  }

.pop{
  margin:  2%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  color: #4B626C;
  font-size: 4rem;
}

.container-imagemp{
  width:35%;
  height: 85%;
}

.container-imagemp img{
  height: 100%;
  width:100%;
  margin: 2%;
}

  .jogo{
    display: flex;
    width: 85%;
    height: 30%;
    margin: auto;

  }

  .bolinhas{
    width: 5%;
    height: 22%;
    background-color: #4B626C;
    border-radius: 100%;
  }

  .numbers{
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }

  .titulo-texto{
    width: 57%;
    color: #4B626C;
    font-style: normal;
    margin-left: 5%;
  }

  .title{
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: 3rem;
    padding-top: 1rem;
  }

  .paragrafos{
    display: flex;
    justify-content: center;
    font-weight: 300;
    font-size: 1.7rem;
  }

  .jogo:nth-child(3){
    flex-direction: row-reverse;
  }
 

  .carrinho{
    height:10vh;
    width: 100vw;
    background-color: #FBF8F4;
   
  }

  .circle{
    width:4.5%;
    height:98%;
    background: #4B626C;
    border-radius: 100%;
    margin-left: 90%;
  }

  .circle img{
    margin-top: 8%;
    margin-left: 8%;
    height: 80%;
    width: 80%;
  }

  .circle:hover{
    opacity: 0.8;
  }

  @media (max-width:1620px) {
    .sessao-branca-populares{
      height: 135vh;
    }
    .paragrafos{
      font-size: 1.2rem;
    }
    .carrinho{
      height: 10vh;
    }
  }

  @media (max-width:1000px) {
    .sessao-branca-populares{
      height: 135vh;
     
    }
    .titulo-texto{
      font-size: 1rem;
    }
    .carrinho{
      height: 8vh;
    }
  }

  @media (max-width:768px) {
    .sessao-branca-populares{
      height: 135vh;
    }
    .carrinho{
      height: 6vh;
    }
  }

@media (max-width:415px) {
  .sessao-branca-populares{
    height: 200vh;
  }
 .jogo{
  display: flex;
  flex-direction: column;
 }
 .jogo:nth-child(3){
  flex-direction: column;
}
.pop{
  font-size: 3rem;
}
.titulo-texto{
  width: 98%;
}
.title{
  font-size: 2rem;
}
.container-imagemp{
  width: 90%;
  height: 80%;
  margin-left: 5%;
}
.bolinhas{
  height: 23%;
  width: 15%;
}
.numbers{
  font-size: 2rem;
  margin-top: 0.5rem;
}
.circle{
  margin-left: 80%;
  width: 13%;
  height: 81%;
}
.paragrafos{
  font-size: 1rem;
}
.bolinhas:nth-child(3){
  display: none;
}
.carrinho{
  height: 10.5vh;
}
}
