
  .sessao-branca-populares{
    height: 135vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #FBF8F4;
  }

.pop{
  margin:  2%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  color: #4B626C;
  font-size: 4rem;
}

.container-imagemp{
  width:35%;
  height: 85%;
}

.container-imagemp img{
  height: 100%;
  width:100%;
  margin: 2%;
}

  .jogo{
    display: flex;
    width: 85%;
    height: 30%;
    margin: auto;

  }

  .bolinhas{
    width: 5%;
    height: 22%;
    background-color: #4B626C;
    border-radius: 100%;
  }

  .numbers{
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.8rem;
  }

  .titulo-texto{
    width: 57%;
    color: #4B626C;
    
    font-style: normal;
    margin-left: 5%;
  }

  .title{
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: 3rem;
    padding-top: 1rem;
  }

  .paragrafos{
    display: flex;
    justify-content: center;
    font-weight: 300;
    font-size: 1.7rem;
  }

  .jogo:nth-child(3){
    flex-direction: row-reverse;
  }
 

  .carrinho{
    height:10vh;
    width: 100vw;
    background-color: #FBF8F4;
   
  }

  .circle{
    width:4.5%;
    height:98%;
    background: #4B626C;
    border-radius: 100%;
    margin-left: 90%;
    background-image: url(../imagens/carrinho.png);
    background-size: cover;
  }
  .circle:hover{
    opacity: 0.8;
  }
/*
  @media (max-width:1620px) {
    html{
      font-size: 80%;
    }
    .sessao-branca-populares{
      height: 100vh;
    }
    .carrinho{
      height: 8vh;
    }
  }

  @media (max-width:1000px) {
    html{
      font-size: 70%;
    }
    .sessao-branca-populares{
      height: 60vh;
    }
    .carrinho{
      height: 6vh;
    }
  }

  @media (max-width:768px) {
    html{
      font-size: 60%;
    }
    .sessao-branca-populares{
      height: 60vh;
    }
    .carrinho{
      height: 4vh;
    }
    .telaPop{
      height: 99vh;
    }
  }
*/
@media (max-width:400px) {
  html{
    font-size: 115%;
  }
  .sessao-branca-populares{
    height: 200vh;
  }
 .jogo{
  display: flex;
  flex-direction: column;
 }
 .jogo:nth-child(3){
  flex-direction: column;
}
.titulo-texto{
  width: 98%;
}
.container-imagemp{
  width: 90%;
  margin-left: 5%;
}
.bolinhas{
  height: 25%;
  width: 11%;
}
.circle{
  margin-left: 80%;
  width: 13%;
  height: 81%;
}

.bolinhas:nth-child(3){
  display: none;
}
}
