
.tela-principal {
    height: 190vh;
    width: 100vw
}

.parte-cima {
    height: 78vh;
    width: 100vw;
    background: #FBF6F0;
}

.parte-baixo {
    height: 50vh;
    width: 100vw;
    background: #4B626C;
}

.cinco-imagens {
    height: 75%;
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding-left: 3%;
}

.lado-direito{
    height: 100%;
    width: 8%;
}

.cart{
    margin-top: 150%;
    height: 35%;
    width: 85%;
    border-radius: 100%;
    border-style: solid;
    border-color: white;
}

.cart img{
    margin-top: 8%;
    margin-left: 5%;
    height: 85%;
    width: 85%;
}

.cart:hover{
    opacity: 0.5;
}

.prices{
    margin-left: 2%;
    margin-top: 110%;
    z-index: 2;
    width: 40%;
    height: 9%;
    background-color:white;
    border-radius: 8px;
}

.prices p{
    font-size: 1.3rem;
    color: #4B626C;
    font-weight: 700;
}

h1 {
    padding-left: 6%;
    font-size: 3.5rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    color: #97A4A2;
}

/*
@media (max-width:1900px) {
    html {
        font-size: 80%;
    }
    .tela-principal{
        height: 83vh;
    }
    .parte-cima{
        height: 60vh;
    }
    .parte-baixo{
        height: 40vh;
    }
}
@media (max-width:1400px) {
    html {
        font-size: 70%;
    }
    .tela-principal{
        height: 83vh;
    }
    .parte-cima{
        height: 55vh;
    }
    .parte-baixo{
        height: 30vh;
    }
}
@media (max-width:1100px) {
    html {
        font-size: 60%;
    }
    .tela-principal{
        height: 83vh;
    }
    .parte-cima{
        height: 45vh;
    }
    .parte-baixo{
        height: 22vh;
    }
}
@media (max-width:768px) {
    html {
        font-size: 40%;
    }
    .tela-principal{
        height: 83vh;
    }
    .parte-cima{
        height: 30vh;
    }
    .parte-baixo{
        height: 18vh;
    }
}*/