
.tela-principal {
    height: 190vh;
    width: 100vw
}

.parte-cima {
    height: 78vh;
    width: 100vw;
    background: #FBF6F0;
}

.tres-imagens {
    height: 80%;
    width: 80%;
    padding-left: 12rem;
    padding-top: 4.4rem;
    display: flex;
    flex-direction: row;
}

.duas-imagens {
    height: 100%;
    width: 35%;
}

.desconto-duas-imagens{
    width: 60%;
    height: 16%;
    margin-left: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.desc{
    width: 40%;
    height: 70%;
    background-color: #4B626C;
    margin-top: 70%;
    border-radius: 10%;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    text-align: center;
}

.preços2{
    width: 50%;
    height: 70%;
    background-color: white;
    margin-top: 70%;
    border-radius: 10%;
    color: #4B626C;
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    text-align: center;
}

.desconto-uma-imagem{
    width: 30%;
    height: 8%;
    margin-left: 68%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30%;
}

.ret9{
    height: 50%;
    width: 100%;
    background-image: url(../imagens/ret9.jpg);
    background-size: cover;
}

.ret10{
    width: 100%;
    height: 50%;
    background-image: url(../imagens/Ret10.jpg);
    background-size: cover;
}

.ret11 {
    height: 100%;
    width: 65%;
    background-image: url(../imagens/Ret11.jpg);
    background-size: cover;
}

.parte-baixo {
    height: 50vh;
    width: 100vw;
    background: #4B626C;
}

.cinco-imagens {
    height: 75%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 6%;
}

.rets1 {
    height: 100%;
    width: 15%;
    background-image: url(../imagens/Ret13.jpg);
    background-size: cover;
}
.rets2 {
    height: 100%;
    width: 15%;
    background-image: url(../imagens/Ret14.jpg);
    background-size: cover;
}
.rets3 {
    height: 100%;
    width: 15%;
    background-image: url(../imagens/Ret15.jpg);
    background-size: cover;
}
.rets4 {
    height: 100%;
    width: 15%;
    background-image: url(../imagens/Ret16.jpg);
    background-size: cover;
}
.rets5 {
    height: 100%;
    width: 15%;
    background-image: url(../imagens/Ret17.jpg);
    background-size: cover;
}
.lado-direito{
    height: 100%;
    width: 8%;
}

.cart{
    margin-top: 120%;
    height: 41.5%;
    width: 100%;
    border-radius: 100%;
    background-image: url(../imagens/carrinho.png);
    background-size: cover;
}

.cart:hover{
    opacity: 0.5;
}

.prices{
    margin-left: 2%;
    margin-top: 110%;
    z-index: 2;
    width: 40%;
    height: 9%;
    background-color:white;
    border-radius: 10%;
}

.prices p{
    font-size: 1.3rem;
    color: #4B626C;
    font-weight: 700;
}

h1 {
    padding-left: 6%;
    font-size: 3.5rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    color: #97A4A2;
}

/*
@media (max-width:1900px) {
    html {
        font-size: 80%;
    }
    .tela-principal{
        height: 83vh;
    }
    .parte-cima{
        height: 60vh;
    }
    .parte-baixo{
        height: 40vh;
    }
}
@media (max-width:1400px) {
    html {
        font-size: 70%;
    }
    .tela-principal{
        height: 83vh;
    }
    .parte-cima{
        height: 55vh;
    }
    .parte-baixo{
        height: 30vh;
    }
}
@media (max-width:1100px) {
    html {
        font-size: 60%;
    }
    .tela-principal{
        height: 83vh;
    }
    .parte-cima{
        height: 45vh;
    }
    .parte-baixo{
        height: 22vh;
    }
}
@media (max-width:768px) {
    html {
        font-size: 40%;
    }
    .tela-principal{
        height: 83vh;
    }
    .parte-cima{
        height: 30vh;
    }
    .parte-baixo{
        height: 18vh;
    }
}*/