.primeiraTela{

position: relative;
width: 430px;
height: 932px;

background: #FBF6F0;
}
.imagem{

position: absolute;
width: 430px;
height: 371px;
left: 0px;
top: 0px;

background: url(image.png);
}

.registrar{

position: absolute;
width: 145px;
height: 39px;
left: 142px;
top: 370px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */

color: #4B626C;
}

.nome-caixa{

position: absolute;
width: 338px;
height: 32px;
left: 45px;
top: 451px;
}


.nome{

position: absolute;
width: 338px;
height: 32px;
left: 383px;
top: 451px;

background: #EFEFEF;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
border-radius: 5px;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Nome de Usuário */

position: absolute;
width: 152px;
height: 20px;
left: 55px;
top: 457px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #97A4A2;
}


.confirmar-caixa{

position: absolute;
width: 338px;
height: 32px;
left: 48px;
top: 715px;
}


.confirmarSenha{

position: absolute;
width: 338px;
height: 32px;
left: 386px;
top: 715px;

background: #EFEFEF;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
border-radius: 5px;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Confirmar Senha */

position: absolute;
width: 152px;
height: 20px;
left: 58px;
top: 721px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #97A4A2;
}


.senha-caixa{

position: absolute;
width: 338px;
height: 32px;
left: 48px;
top: 649px;
}


.senha{

position: absolute;
width: 338px;
height: 32px;
left: 386px;
top: 649px;

background: #EFEFEF;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
border-radius: 5px;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Senha */

position: absolute;
width: 152px;
height: 20px;
left: 58px;
top: 655px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #97A4A2;
}

.cpf-caixa{

position: absolute;
width: 338px;
height: 32px;
left: 45px;
top: 583px;
}


.cpf{

position: absolute;
width: 338px;
height: 32px;
left: 383px;
top: 583px;

background: #EFEFEF;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
border-radius: 5px;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* CPF */

position: absolute;
width: 152px;
height: 20px;
left: 55px;
top: 589px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #97A4A2;
}


.email-caixa{

position: absolute;
width: 338px;
height: 32px;
left: 45px;
top: 517px;
}


.email{

position: absolute;
width: 338px;
height: 32px;
left: 383px;
top: 517px;

background: #EFEFEF;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
border-radius: 5px;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* E-mail */

position: absolute;
width: 152px;
height: 20px;
left: 55px;
top: 523px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #97A4A2;
}


.seta{

box-sizing: border-box;

position: absolute;
width: 40px;
height: 0px;
left: 343px;
top: 804px;

border: 4px solid #4B626C;
}

.button-login{

position: absolute;
width: 155px;
height: 31px;
left: 46px;
top: 866px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;

color: #97A4A2;
}
