.slider-container-responsive{
    width: 80vw;
    height: 30vh;
    margin: 0 auto;
}

.slick-track {
    display: flex;
    gap: 15px; /* Espaçamento entre os slides */
  }

.rets1 {
    height: 100%;
    width: 15%;
    background-image: url(../imagens/Ret13.jpg);
    background-size: cover;
}
.rets2 {
    height: 100%;
    width: 15%;
    background-image: url(../imagens/Ret14.jpg);
    background-size: cover;
   
}
.rets3 {
    height: 100%;
    width: 15%;
    background-image: url(../imagens/Ret15.jpg);
    background-size: cover;

}
.rets4 {
    height: 100%;
    width: 15%;
    background-image: url(../imagens/Ret16.jpg);
    background-size: cover;

}
.rets5 {
    height: 100%;
    width: 15%;
    background-image: url(../imagens/Ret17.jpg);
    background-size: cover;
   
}

.prices{
    margin-left: 2%;
    margin-top: 110%;
    z-index: 2;
    width: 60%;
    height: 9%;
    background-color:white;
    border-radius: 8px;
}

.prices p{
    font-size: 1.3rem;
    color: #4B626C;
    font-weight: 700;
}

@media (max-width:415px) {
    .slider-container-responsive{
        width: 60vw;
        height: 20vh;
    }
}