  .telaFooter{
    width: 100vw;
    height: 47vh;
    background: #97A4A2;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    font-size: 2.2rem;
  }

  .tituloFooter{
    color: white;
    font-weight: 700;
  }

  .imgFooter{
    height: 60%;
    width: 14%;
    margin-right: 0;
  }

  .imgFooter img{
    height: 100%;
    width: 100%;
  }

  .encima{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-left: 3%;
  }

  .containerss{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .msngfooter{
    display: flex;
    justify-content: center;
  }
 
  #cont1{
    margin-left: 2rem;
  }

  #cont3{
    margin-left: 11rem;
  }

  #cont2{
    margin-left: 11rem;
  }

  @media (max-width:1500px) {
    .containerss{
      font-size: 65%;
    }
    .tituloFooter{
      font-size: 100%;
    }
    .msngfooter{
      font-size: 55%;
    }
    .telaFooter{
      height:50vh;
    }
    #cont3,
    #cont2{
      margin-left: 4rem;
    }
  }


  @media (max-width:1000px) {
    .containerss{
      font-size: 60%;
    }
    .tituloFooter{
      font-size: 100%;
    }
    .msngfooter{
      font-size: 50%;
    }
    .telaFooter{
      height:30vh;
    }
    #cont3,
    #cont2{
      margin-left: 4rem;
    }
  }

  @media (max-width:768px) {
    .containerss{
      font-size: 50%;
    }
    .tituloFooter{
      font-size: 100%;
    }
    .msngfooter{
      font-size: 40%;
    }
    .telaFooter{
      height:25vh;
    }
    #cont3,
    #cont2{
      margin-left: 3rem;
    }
  }
  @media (max-width:415px) {
   
    #cont1,
    #cont2{
      display: none;
    }
    .imgFooter{
      height: 70%;
      width: 35%;
      margin-right: 0;
      justify-content: center;
    }
    #cont3{
      font-size: 1.2rem;
      margin-left: 2rem;
    }
    #cont3 h2{
      display: none;
    }
    .container1{
      font-size: 60%;
    }
    .msngfooter{
      font-size: 60%;
    }
  }
 